.loader {
    height:50rem;
}

.container {
    min-height:50rem;
}

#checkin-well {
    padding-top:5rem;
}

.top-panel {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.25); 
}

#card-header {
    padding-left:1rem;
}

#check-time {
    width:100%;
    text-align: right;
}