/* You can add global styles to this file, and also import other style files */
  body {
    padding-top: 50px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size:1.5rem;
    line-height: 200%;
    background-color:#eee;
  }

  p {
    padding-bottom:2rem;
  }
  
  .icon-bar {
    background-color: #ffffff;
  }


  .btn-circle {
    width: 49px;
    height: 49px;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    line-height: 2.4;
    border-radius: 30px;
  }  

  .btn-facebook {
    background-color: #3b5998;
    border-color: #3b5998;    
  }

  hr {
    border-top: 1px solid #999;
  }  

  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1200px) {

  }

  /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {

    .app-features ul {
      padding-left: 5rem;
    } 
  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {
    .navbar-inner li.active {
      background-color:#005DB3;
      box-shadow: none;
    }

    .app-features img {
      width:32rem;
    }
  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (max-width : 480px) {

  }

  /* Custom, iPhone Retina */ 
  @media only screen and (max-width : 320px) {

  }
  
.card {
    border-radius: 2px;
    position: relative;
    margin-bottom: 1rem;
    overflow: hidden;
    margin-bottom: 1.5rem!important;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.25);   
}

.mb-4 {
  margin-bottom: 1.5rem!important;
}

.p-3 {
  padding: 1rem 1rem!important;
}

.pos-relative {
    position: relative!important;
}

.avatar {
    width:4rem;
    height:4rem;
}
